

	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->


<div class="test">
     <a ui-sref="website"><i class="fa fa-fw fa-file"></i> back to home</a>
     <div class="seats">
         <img src="../../assets/images/seats.png" alt="">
     </div>
  <div  id="slides_control">
    <!--<div>
      <carousel interval="websiteCtrl.myInterval">
        <slide ng-repeat="slide in websiteCtrl.slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
           
          </div>
        </slide>
      </carousel>
    </div>-->

    <div class="slider">
      <div>
        <!--<img src="../../assets/images/green_screen1.png" />-->
      </div>
                            
      <div>
        <img src="../../assets/images/new-content1.png" />
      </div>

      <div>
        <img src="../../assets/images/new-content2.png" />
      </div>                 
    </div>
  </div>
  
 

<style>
    .right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

ol.carousel-indicators {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
    /*.test{    
        background-image:  url('../../assets/images/seats.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-color:black;
        background-size: cover;
        height: 100vh;
    }*/

     .test{    
        background-image:  url('../../assets/images/seats.png'), url('../../assets/images/m-theatre.png');
        background-position: bottom center, center center;
        background-repeat: no-repeat, no-repeat;
        background-color:black;
        background-size: 100% ;
        height: 100vh;
        z-index: 5;
    }

    #slides_control > div{
  height: 400px;
}
img{
  margin:auto;
  width: 800px;
}
#slides_control {
  position:absolute;
  width: 800px;
  background-image: url("../../assets/images/green_screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*left:40%;
  top:15%;
 margin-left:-200px;*/
 margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top:20%;
-webkit-box-shadow: 3px 38px 128px -3px rgba(255,255,255,1);
-moz-box-shadow: 3px 38px 128px -3px rgba(255,255,255,1);
box-shadow: 3px 38px 128px -3px rgba(255,255,255,1);
}

.seats{
    position: absolute;
    bottom: 0;
    z-index: 5;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    
  
}

.seats img {
    width: 100%;
   
}
</style>

