

	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->


<div class="test">
     <a ui-sref="website"><i class="fa fa-fw fa-file"></i> back to home</a>
  <div  id="slides_control">
    <div>
      <carousel interval="websiteCtrl.myInterval">
        <slide ng-repeat="slide in websiteCtrl.slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <!--<h4>Slide {{$index+1}}</h4>-->
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>  






  


 





<style>
    .right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

ol.carousel-indicators {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
    .test{
        
        
        background-image:  url('../../assets/images/seats.png');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-color:black;
        background-size: cover;
        height: 100vh;
    }

    #slides_control > div{
  height: 600px;
}
img{
  margin:auto;
  width: 800px;
}
#slides_control {
  position:absolute;
  width: 800px;
  left:40%;
  top:10%;
 margin-left:-200px;
}
</style>