<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div> <!-- navbar-header -->

      <div class="collapse navbar-collapse" id="collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <li class="active"><a smooth-scroll target="p1" offset="0" >Home</a></li>
        <li><a smooth-scroll target="p2" offset="0" >About Me</a></li>
        <li><a smooth-scroll target="p3" offset="0">Skills</a></li>
        <li><a smooth-scroll target="p4" offset="0">Projects</a></li>
       
        <li ><a smooth-scroll target="p5" offset="0">Contact</a></li>
      </ul>
      </div> <!-- navbar-collapse -->  
    </div> <!-- container -->
  </nav>
</header>

<!--start homepage content-->
<div class="wrapper" id="p1">
    <div class="cityscape">
        <div class="box one">
            <div class="inner1A"></div>
        </div>
        <div class="box three">
            <div class="inner1B"></div>
        </div>
    </div>
 </div>

<div class="wrapper" id="p2">
    <div class="flex-container1">
        <div class="box one">
            <div class="inner2A">
                <img   src="../assets/images/z-new-desk.png" alt="">
                <img  class="img2" src="../assets/images/z-file.png" alt="">
            </div>
        </div>
        <div class="box three">
            <div class="inner2B"></div>
        </div>
    </div>
</div>

<div class="wrapper mobile" id="p">
     <div  class="innerSmall">
         <p class="frameworks" >Frameworks</p>
         <div style="width: 100px; margin-top: 70px">
            <a ui-sref="recent"><img  src="../assets/images/js.png" ></a>
            <h3 class="yellow-tail">JavaScript</h3>
        </div>
        <div style="width: 100px">
            <a ui-sref="skills"><img src="../assets/images/angular.png" ></a>
            <h3 class="yellow-tail">Angular</h3>
        </div>
        <div style="width: 100px">
            <a ui-sref="contact"><img src="../assets/images/react.png" ></a>
            <h3 class="yellow-tail">React</h3>
        </div>
    </div>
</div>

<div class="wrapper" id="p3">
    <div class="flex-container3">
        <div class="box one">
            <div class="inner3A"></div>
        </div>
        <div class="box three">
            <div class="inner3B"></div>
        </div>
    </div>
</div>

<div class="wrapper mobile" id="p">
     <div  class="innerSmall">
         <div style="width: 100px; margin-top: 70px">
            <a ui-sref="recent"><img  src="../assets/images/contact2.png" ></a>
            <p class="yellow-tail">Contact</p>
        </div>
        <div style="width: 100px">
            <a ui-sref="skills"><img src="../assets/images/bulb.png" ></a>
            <h3 class="yellow-tail">Skills</h3>
        </div>
        <div style="width: 100px">
            <a ui-sref="contact"><img src="../assets/images/port.png" ></a>
            <h3 class="yellow-tail" >Recent Work</h3>
        </div>
    </div>
</div>

<div class="wrapper" id="p4">
    <div class="flex-container4">
        <div class="box one">
            <div class="inner4A">
                <div>
                    <a  ui-sref="recent" ><img  src="../assets/images/z-recent.png" ></a>
                </div>
                <div>
                    <a ui-sref="skills"><img src="../assets/images/skill.png" ></a>
                </div>
                <div>
                    <a  ui-sref="contact"><img src="../assets/images/z-contact.png" ></a>
                </div>
            </div>
        </div>
        <div class="box three">
            <div class="inner3B"></div>
        </div>
    </div>
</div>

<div class="wrapper" id="p5">
    <div class="flex-container5">
        <div class="box one">
            <div class="inner5A"></div>
        </div>
        <div class="box three">
            <div class="inner5B"></div>
        </div>
    </div>
</div>







