
/*HEADER NAVIGATION*/
/*=========================*/
header .navbar {
  padding: 30px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background: transparent;
  border: none;
}

header .navbar-default .navbar-nav a {
  color: darkorange;
  padding: 5px 8px;
  font-family: 'Indie Flower'
}

header .navbar-default .navbar-nav a:hover {
  color: #89cff0;
}


header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color:#89cff0;
  background: transparent;
  border-bottom: 4px solid #89cff0;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
  color: #39B54A;
  background: transparent;
  text-shadow: none;
}

/*NAVBAR BRAND*/
/*=====================*/

header .navbar-brand {
  background: url('../images/logo.svg');
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  padding-left: 105px;
}

header .navbar-brand span.subhead {
  /*font-family: 'Poiret One'*/
  font-size: .6em;
  font-weight: 100;
  display: block;
}

/*NAVBAR TOGGLE*/
/*==============================*/
header .navbar-toggle {
  background-color: #666666
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}



@media only screen
and (max-width: 768px) {
  header .navbar-collapse  {
  background-color: rgba(0,0,0, .5)
  /*this solves issue of background only appearing on mobile menu*/
  }

   

}

/*NAVBAR INBODY*/
/*this is the class that gets added by jquery/scrollspy*/
header .inbody {
  background: rgba(0,114, 188, .8);
}

header .navbar.inbody {
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar .inbody .navbar-nav {
  padding-top: 10px;
}

header .inbody .navbar-brand {
  background-size: 43px;
  background-position:  top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}
header .inbody .navbar-brand h1 {
  font-size: 1.1em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}
    body{
    font-family: Georgia;
    margin: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

h1.port{
    background-image: url('app/views/images/angular.png');
    background-repeat: no-repeat;
    background-size: 60px 40px;
    width: 100px;
    text-indent: -10000px;
    float: left;
}

header nav{
    float: right;
    
}

header nav h2{
    text-indent: -10000px;
    height: 0;
    margin: 0;
}

header nav li{
    float: left;
    list-style-type: none;
    margin: 10px 20px;
}

header nav li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/*CONTENT STYLES*/

img {
    width: 70%;
    height: 70%;
}

.wrapper{
    width: 100%;
    /*max-width: 960px;*/
    margin: 0 auto;
    height: 100vh;
}

.cityscape{    
    display: flex;
    /*background: #fff;*/
    background: url('../../assets/images/bg-new.png') no-repeat center right ;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.flex-container1{    
   display: flex;
   /*background: #fff;*/
   /*background-color: #ccc;*/
   background: url('../../assets/images/bg-three.png') no-repeat center right ;
   background-size: cover;
   height: 100vh;
   width: 100%;
}


.flex-container3{    
   display: flex;
   /*background: #fff;*/
   /*background-color: #ccc;*/
   background: url('../../assets/images/bg-four.png') no-repeat bottom right ;
   background-size: cover;
   height: 100vh;
   width: 100%;
}

.flex-container4{    
   display: flex;
   /*background: #fff;*/
   /*background-color: #ccc;*/
   background: url('../../assets/images/bg-five.png') no-repeat bottom right ;
   background-size: cover;
   height: 100vh;
   width: 100%;
}

.flex-container5{    
   display: flex;   
   background: url('../../assets/images/bottom-bg.png') no-repeat top right;
   /*background-size:  450px,300px; */
   background-size: cover;
    height: 100vh;
    width: 100%;
}

.box{
    height: 100vh;
    /*min-width: 100px;*/
    /*to grow elements*/
    /*flex-grow: 1; all boxes growing the same rate*/
    /*flex-grow: 1;*/

}

.one{
    /*background: red;*/
    flex: 3;
    /*if only one box has flex grow it will take up the */
    /*remaing space apart from 100px and 100px*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.two{
    background: blue;
    /*now if make this 2 , it will be double the size of .one*/
    flex-grow: 1;
    opacity: .2;
}

.three{
    /*background: green;*/
    flex-grow: 1;
    /*think of flex-grow as columns in bootstrap*/
    /*opacity: .2;*/
}


.inner1 {
    width: 100%;
    /*height: 50%;*/
    /*border: 1px solid red;*/
    /*background: url('building-l_02.png') no-repeat center center;*/
    background: cover;
    flex-grow: 1;
}

.inner1A {
    width: 100%;
    /*height: 50%;*/
    /*border: 1px solid orange;*/
    background-image:  url('../../assets/images/left-lower-building.png'),url('../../assets/images/building-l_02.png') ;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom left;
    
    flex-grow: 3;
    background-size: 1200px,450px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}


.oneA{
    /*background: red;*/
    flex-grow: 3;
    /*if only one box has flex grow it will take up the */
    /*remaing space apart from 100px and 100px*/
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.innerA {
    /*width: 100%;*/
    height: 200px;
    /*height: 50%;*/
    /*justify-content: center;*/
    /*border: 1px solid black;*/
    background: url('../../assets/images/left-lower-building.png') no-repeat; 
}


.flex-container{    
   display: flex;
   /*background: #fff;*/
   background-color: url('../../assets/images/bg-new.png') no-repeat center right;
   background-size: cover;
   height: 100vh;
   width: 100%;
}



.inner1B {
    width: 100%;
    height: 100%;
    /*border: 1px solid orange;*/
    background-image:  url('../../assets/images/Untitled-7_03.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /*background: cover;*/
    flex-grow: 1;
    background-size: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;       
}

.inner2B {
    width: 100%;
    height: 100%;
    /*border: 1px solid orange;*/
    background-image:   url('../../assets/images/signage_02.png');
    background-repeat: no-repeat;
    background-position: top right;
    background: cover;
    flex-grow: 1;
    background-size: 250px 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
      
}


.inner3B {
    width: 100%;
    height: 100%;
    /*border: 1px solid blue;*/
    background-image:   url('../../assets/images/side-build_02.png');
     background-repeat: no-repeat;
    background-position: top right;
    /*background: cover;*/
    flex-grow: 1;
    background-size: 250px 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}



.inner2A {
    width: 85%;
    /*height: 50%;*/
    /*border: 1px solid orange;*/
    /*border-right: 45px solid lightsalmon;
    border-bottom: 45px solid lightsalmon;
    border-top: 20px solid lightsalmon;*/
    border-right: 45px solid grey;
    border-bottom: 45px solid grey;
    border-top: 20px solid grey;
    background-image:   url('../../assets/images/panes_01.png') ;
    background-repeat:  no-repeat;
    background-color: white;
    /*background-position: center left;*/
    /*background: url('left-lower-building.png') no-repeat left bottom;*/
    /*background: cover;*/
    flex-grow: 3;
    background-size:  100% 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

.inner3A {
    width: 85%;
    /*height: 50%;*/
    /*border: 1px solid orange;*/
    /*border-right: 45px solid cadetblue;
    border-bottom: 45px solid cadetblue;
    border-top: 20px solid cadetblue;*/
    border-right: 45px solid grey;
    border-bottom: 45px solid grey;
    border-top: 20px solid grey;
    background-image:   url('../../assets/images/conf-pattern_01.png') ;
    background-repeat:  no-repeat;
    background-position: center left;
    /*background: url('left-lower-building.png') no-repeat left bottom;*/
    /*background: cover;*/
    flex-grow: 3;
    background-size:  100% 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}


.inner4A {
    width: 85%;
    /*height: 50%;*/
    /*border: 1px solid orange;*/
    /*border-right: 45px solid orange;
    border-bottom: 45px solid orange;
    border-top: 20px solid orange;*/
    border-right: 45px solid grey;
    border-bottom: 45px solid grey;
    border-top: 20px solid grey;
    background-image:   url('../../assets/images/couch.png'), url('../../assets/images/girl.png'), url('../../assets/images/dot.png') ;
    background-repeat:  no-repeat,no-repeat, no-repeat;
    background-position: bottom left, bottom right, center left;
    /*background: url('left-lower-building.png') no-repeat left bottom;*/
    background: cover;
    flex-grow: 2;
    background-size:  45% 20%, 40% 40% , 100% 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    
}



.inner5A {
    width: 100%;
    /*height: 50%;*/
    /*border: 1px solid orange;*/
    background-image:   url('../../assets/images/cinema4_01.png') ;
    background-repeat:  no-repeat;
    background-position: center left;
    /*background: url('left-lower-building.png') no-repeat left bottom;*/
    /*background: cover;*/
    flex-grow: 3;
    background-size:  100% 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   
}

.inner5B {
    width: 100%;
    height: 100%;
    /*border: 1px solid blue;*/
    background-image:   url('../../assets/images/crowd1_03.png'), url('../../assets/images/bottom-right_02.png');
     background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top right;
    /*background: cover;*/
    flex-grow: 1;
    background-size: 100% 48%, 40% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;   


}


.mobile {
    display: none;
}


/*
.inner2A img {
    width: 80%;
}*/


/*START OF MEDIA QUERIES*/

 /*MEDIA QUERIES 1140*/
@media screen and (max-width: 1140px){
    .inner2A {
        width: 90%;
    }
    .inner3A {
        width: 90%;
    }
    .inner4A {
        width: 90%;
    }
    .inner5A {
        width: 100%;
    }
}

 /*MEDIA QUERIES 1000*/
@media screen and (max-width: 1000px){
    .inner1B { 
        display: none;
    }

    .box.three {
        display: none;
    }
    .inner2B {
        display: none;
    }

    .inner1A {
        width: 100%;
        /*height: 50%;*/
        border: 1px solid purple;
        background-image:  url('../../assets/images/left-lower-building.png'),url('../../assets/images/building-l_02.png') ;
        background-repeat: no-repeat, no-repeat;
        background-position: bottom left, bottom left;  
        flex-grow: 3;
        background-size: 1400px,450px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-end;   
    }

    header nav{
        float: none;
        clear: left;
        width: 100%
    }

    header nav ul{
        margin: 0;
        padding: 0;
    }

    h1.logo{
        margin: 10px auto 0;
        float: none;
    }
    header nav ul li{
        margin: 10px 0;
        width:20%;
        padding: 0;
        text-align: center
    }

    .mobile {
        display: none;
    }

    .hide {
        display: block;
    }  
}

/*MEDIA QUERIES 915*/
@media screen and (max-width: 915px){
    .inner2A {
        width: 100%;
    }
    .inner3A {
        width: 100%;
    }
   
    .inner5A {
        width: 100%;
    }

    .inner4A {
    width: 100%;
   
    background-image:   url('../../assets/images/couch.png'),  url('../../assets/images/dot.png') ;
    background-repeat:  no-repeat, no-repeat;
    background-position: bottom center, center left;
    /*background: url('left-lower-building.png') no-repeat left bottom;*/
    background: cover;
    flex-grow: 2;
    background-size:  70% 30% , 100% 100%; 
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    
}
}

@media screen and (max-width: 800px){
    .inner3A {
        background-image:   url('../../assets/images/conf-flower-small_01.png') ;
    }

    img {
        width: 90%;
    }
}

/*MEDIA QUERIES 480*/
@media screen and (max-width: 480px){
    
    .wrapper {
        padding: 0;
    }
    /*.flex-container{
        display: block;
    }*/
    .cityscape{    
        display: block;
        background: url('../../assets/images/small-bg.png') no-repeat center right;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }

    .flex-container1{    
        display: block;
        background: url('../../assets/images/sml-desk.png') no-repeat bottom right;
        background-size: cover;
        width: 100%;
        width: 100%;
    }


    .flex-container3{    
        display: block;
        background: url('../../assets/images/sml-conf.png') no-repeat center right;
        background-size: cover;
        width: 100%;
        width: 100%;
    }
    .box{
        display:none;
    }

    .one {
        display: block;
    }

    .inner1 {
        display: block;
    }

    .inner1A{
        display: none;
    }
           
    .three {
        display: none;

    }
    .inner1B{
        display: none;
    }

    .inner2A {
        display: none;
    }

    .inner4A {
        display: none;
    }

     .innerSmall {
        width: 100%;
        height: 100vh;
        
    
        /*background-image:   url('../../assets/images/desk_02.png'),  url('../../assets/images/rec1_01.png') ;*/
        /*background-repeat:  no-repeat, no-repeat;*/
        /*background-position: bottom center, center left;*/
        /*background: url('left-lower-building.png') no-repeat left bottom;*/
        /*background: cover;
        flex-grow: 2;
        background-size:  70% 60% , 100% 100%; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        align-items: center;   
    }
   
    .hide {
        display: none;
    }

    .mobile {
        display: block;
        background-color: #89cff0;
    }
    .burger-nav{
        display: block;
        height: 40px;
        width: 100%;
        background: url('images/burger.png') no-repeat 98% center;    
        background-color: #4d4d4d;
        cursor: pointer;
    }

    header .wrapper{
        width: 100%;
        padding: 0;
    }

    header nav ul{
        overflow: hidden;
        background: #505050;
    }

    header nav ul.open{
        height: auto
    }

    header nav ul li{
        float: none;
        text-align: left;
        width: 100%;
        margin: 0;
    }

    header nav ul li a{
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #4d4d4d;
        display: block;
        margin: 0
    }

    #projects li{
        width: 90%;
        margin: 20px 5%;
    }
    footer ul{
        width: 48%;
        text-align: center;
    }
    #home-skill li{
        float: none;
        width: 96%;
        margin: 30px 2% !important;
    }
    #main-banner img{
        position: relative;
        width: 180%;
        left: -40%   
    }
}