<section>
    <div class="container">
        <div class="login-wrapper">
            <form class="form-signin" ng-submit="doLogin()">      
                <h2 class="form-signin-heading">Please login</h2>
                <input type="text" class="form-control" ng-model="loginData.username" type="text" name="username" id="username" placeholder="enter your username" required="" autofocus="" />
                <input type="password" class="form-control" ng-model="loginData.password" type="password" name="password" id="password" placeholder="enter your password" required=""/>      
      
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
        </div>
    </div>
</section>
    
